/* Top Section  */
.j-landing-main {
  width: 100%;
  margin: auto;
}
.j-banner {
  margin-top: 15px;
  width: 100%;
  background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img0m.jpg");
  min-height: 85vh;
  background-size: cover;
}
.j-tags {
  color: white;
  text-align: center;
  padding-top: 16%;
}
.j-tags h1 {
  font-size: 55px;
  font-weight: 350;
  font-family: "Times New Roman", Times, serif;
}
.j-tags p {
  margin-top: 10px;
  font-size: 17px;
}

.j-tag {
  margin-top: 25px;
  text-align: center;
}
.j-tag button {
  margin: 0 15px;
  padding: 10px 15px;
  font-size: 15px;
  border: none;
  border-radius: 1px;
  background-color: white;
}
/* .................................................. */
.j-shop {
  text-align: center;
  width: 85%;
  height: 1900px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
}
.j-shop a {
  border-bottom: solid;
  /* border:solid; */
  color: white;
}
.j-shop h1 {
  width: 90%;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: 400;
  margin-top: 480px;
}
.j-shop1 {
  background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img1_new.jpg");
  background-size: cover;
}
.j-shop2 {
  background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img2_new.jpg");
  background-size: cover;
}
.j-shop3 {
  background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img3.jpg");
  background-size: cover;
}
.j-shop4 {
  background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img4.jpg");
  background-size: cover;
}
.j-shop5 {
  background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img5.jpg");
  background-size: cover;
}
.j-shop6 {
  background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img6.jpg");
  background-size: cover;
}
.j-shop5 {
  color: black;
}
.j-shop5 a {
  color: black;
  border-bottom: solid;
}
/* ................................ */
.j-button {
  width: 70%;
  margin: 30px auto;
  display: flex;
  gap: 20px;
  align-items: center;
}
.j-button h1 {
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 350;
}
.j-button button {
  background: white;
  padding: 13px 30px;
  font-weight: 550;
  border: 1px solid rgb(171, 167, 167);
  cursor: pointer;
}
.j-button button:hover {
  color: white;
  background-color: gray;
}

.j-collective {
  background-color: #f8f4ef;
  width: 100%;
  height: 1400px;
  padding-top: 20px;
}
.j-collective-box {
  width: 75%;
  margin: auto;
  /* border: solid; */
}
.j-collective-box img {
  width: 22%;
  margin-top: 30px;
}
.j-collective-box span {
  font-weight: 700;
  margin-left: 53%;
}
.j-collective-box1 {
  width: 75%;
  margin: 40px auto;
  padding-top: 1px;
  border-top: solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.j-collective-box1 img {
  width: 100%;
}
.j-collective-box1 h1 {
  font-weight: 400;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
}
.j-collective-box1 a {
  color: black;
  border-bottom: solid;
  font-weight: 600;
}

.j-stories {
  width: 75%;
  margin: 20px auto;
  /* border: solid; */
}
.j-stories .j-more {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 45px;
  font-weight: 400;
}
.j-stories-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.j-stories-main img {
  width: 100%;
}
.j-stories-main a {
  color: black;
  font-weight: 600;
  border-bottom: solid;
}
.j-stories-main h2 {
  font-weight: 370;
  margin-bottom: 20px;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}
.j-love-section {
  width: 90%;
  margin: 90px auto 0 auto;
  height: 400px;
  /* border: solid; */
}
.j-love-section-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}
.Love {
  font-size: 40px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
/* -----------------slider---------- */

.j-increw {
  text-align: center;
  margin-top: 20px;
}
.j-slider-increw {
  width: 98%;
  margin: auto;
}

.j-slider img {
  /* width: 100%; */
  height: 350px;
}
.j-increw h1 {
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}
.j-increw p {
  margin-top: -1%;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}
.d_append_data {
  margin: 5%;
}
/* ..........................seeMore.......................... */
.j-see-more-main {
  width: 95%;
  margin: 70px auto 30px auto;
}
.j-see-more-present {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.j-see-more-present a {
  font-size: 14px;
  border-bottom: 1px solid gray;
}
.j-see-more-main h1 {
  font-size: 30px;
  margin: 20px auto;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
/* .....................recently....................... */

@media screen and (max-width: 790px) {
  .j-banner {
    margin-top: 15px;
    /* width: 50%; */
    width: 100%;
  }
  .j-link-button-grid {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .j-tag button {
    margin-top: 10px;
    padding: 5px 5px;
  }
  .j-shop0 {
    text-align: center;
    width: 95%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr);
    height: auto;
  }
  .j-shop1 {
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img1_new.jpg");
    background-size: cover;
    
  }
  .j-shop2 {
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img2_new.jpg");
    background-size: cover;
  }
  .j-shop3 {
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img3.jpg");
    background-size: cover;
    padding-bottom: 20px;
  }
  .j-shop4 {
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img4.jpg");
    background-size: cover;
  }
  .j-shop5 {
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img5.jpg");
    background-size: cover;
  }
  .j-shop6 {
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img6.jpg");
    background-size: cover;
  }

  .j-button{
    width: 85%;
    margin:20px auto;
  }
  .j-button h1{
    font-size: 15px;
  }
  .j-button button{
    padding: 7px 20px;
  }
  .j-collective-box{
    width: 90%;
  }
.j-collective-box span {
  /* font-weight: 700; */
  margin-left:13%;
  font-size: 10px;
}
.j-collective-box img{
  width: 30%;
}
.j-collective {
  width: 100%;
  height:1300px;
  padding-top: 10px;
  /* border: solid; */
}
.j-collective-box1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
}
.j-stories-main {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.j-stories-main img {
  width:90%;
  margin: auto;
}
.j-stories-main>div{
  /* border: solid; */
  text-align: center;
 
}

}
/* ------------------ */

@media screen and (max-width: 618px) {
  .j-banner {
    margin-top: 15px;
    width: 100%;
  }
  .j-link-button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* border: solid; */
  }
  .j-link-button-grid button:nth-child(5) {
    /* margin-left: 40px; */
    display: none;
  }

  .j-shop {
    text-align: center;
    margin: 50px auto;
    grid-template-columns: repeat(3,1fr);
  }
  .j-shop1 {
   
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img1_new.jpg");
    background-size:contain;
  }
  .j-shop2 {
  
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img2_new.jpg");
    background-size: cover;
  }
  .j-shop3 {
   
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img3.jpg");
    background-size: cover;
  }
  .j-shop4 {
   
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img4.jpg");
    background-size: cover;
  }
  .j-shop5 {
   
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img5.jpg");
    background-size: cover;
  }
  .j-shop6 {
   
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img6.jpg");
    background-size: cover;
  }
  .j-button{
    width:80%;
    margin: auto;
    display: none;
  }
  .j-button button{
 padding: 5px 15px;
 font-size: 10px;
  }
  .j-button h1{
    font-size: 12px;
  }
  .j-collective {
    width: 100%;
    height:2500px;
    padding-top: 10px;
    /* border: solid; */
  }
  .j-collective-box img{
    width: 40%;
  }
  .j-collective-box span{
    font-size: 10px;
  }
  .j-collective-box1{
    width:40%;
    margin-left: 40px;
    height: 1300px;
    display:inline-block;
    border-top: none;
  }
  .j-collective-box1 div{
margin: auto;
/* border: solid; */
width: 70%;
text-align: center;
height: 350px;
  }
  .j-collective-box1 img{
    width:90%;
    margin: auto;
    height: 70%;
  }
  .j-stories-main ,.j-more{
    display: none;
  }

}

/* -------------------------- */

@media screen and (max-width: 465px) {
  .j-banner {
    margin-top: 15px;
    width: 100%;
  }
  .j-link-button-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* border: solid; */
  }
  .j-link-button-grid button:nth-child(5) {
    /* margin-left: 40px; */
    display: none;
  }
  .j-shop {
    text-align: center;
    width: 90%;
    margin: 50px auto;
    display:grid;
    grid-template-columns: repeat(1, 1fr); 
    height: auto;
  }
  /* .j-shop1, .j-shop2, .j-shop3, .j-shop4 .j-shop5, .j-shop6{
    display:inline-block;
  } */
  .j-shop1 {
    /* background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img1_new.jpg"); */
    background-size: cover;
  }
  .j-shop2 {
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img2_new.jpg");
    background-size: cover;
  }
  .j-shop3 {
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img3.jpg");
    background-size: cover;
  }
  .j-shop4 {
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img4.jpg");
    background-size: cover;
  }
  .j-shop5 {
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img5.jpg");
    background-size: cover;
  }
  .j-shop6 {
    background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img6.jpg");
    background-size: cover;
  }
  .j-love-section {
    display: none;
  }
  .j-see-more-main
  .j-see-more-present{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
   grid-template-rows: repeat(6,1fr);
  }
  .j-landing-main{
    width: 100%;
  }
}
@media screen and (max-width: 1145px){
.j-button h1{
  font-size: 20px;
}
.j-button button{
  padding: 8px 30px;
}
.j-button{
  width: 85%;
}
.j-shop {
  text-align: center;
  width: 90%;
  height: auto;
  margin: 50px auto;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
}
.j-shop h1{
  font-size: 25px;
  /* margin-top: -10px; */
}

.j-shop1 {
  background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img1_new.jpg");
  background-size: cover;
}
.j-shop2 {
  background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img2_new.jpg");
  background-size: cover;
}
.j-shop3 {
  background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img3.jpg");
  background-size: cover;
}
.j-shop4 {
  background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img4.jpg");
  background-size: cover;
}
.j-shop5 {
  background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img5.jpg");
  background-size: cover;
}
.j-shop6 {
  background-image: url("https://www.jcrew.com/brand_creative/homepage2022/15-Dec4/2022dec2_1213_hp_w_img6.jpg");
  background-size: cover;
}


.j-collective {
  background-color: #f8f4ef;
  width: 100%;
  height: 1400px;
  padding-top: 20px;
}
.j-collective-box {
  width: 85%;
  margin: auto;
  /* border: solid; */
}
.j-collective-box img{
  width: 20%;
}
.j-collective-box span{
  font-size: 15px;
  margin-left:57%;
}
.j-collective-box1{
  width: 85%;
}
.j-collective-box1 h1{
  font-size: 20px;
}
.j-collective-box1 p{
  font-size: 13px;
}
.j-collective-box1 a{
  font-size: 12px;
}
.j-stories {
  width: 85%;
  margin: 20px auto;
}

.j-love-section {
  width: 90%;
  margin: 90px auto 0 auto;
  height: 750px;
  /* border: solid; */
}
.j-love-section-main {
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.j-see-more-main {
  width: 95%;
  margin: 70px auto 30px auto;
}
.j-see-more-present {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.j-see-more-main h1{
  font-size: 40px;
}
}